In [2]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\sys\appdata\roaming\python\python312\site-packages (9.3.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector

In [11]:
cursor.execute("create database")
cursor.execute("show databases")
for i in cursor:
    print(i)
cursor=db.cursor()

NameError: name 'cursor' is not defined

In [13]:
import pyodbc

class DBUtil:
    @staticmethod
    def get_connection():
        try:
            connection = pyodbc.connect(
                'DRIVER={ODBC Driver 17 for SQL Server};'
                'SERVER=SAIBHAVANA\\SQLEXPRESS;'
                'DATABASE=CarConnectDB;'
                'Trusted_Connection=yes;'
            )
            print("‚úÖ Connected to database successfully.")
            return connection
        except Exception as e:
            print("‚ùå Database connection failed:", e)
            return None

In [14]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\sys\appdata\roaming\python\python312\site-packages (9.3.0)

In [34]:
import mysql.connector

In [17]:
!pip install pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (5.1.0)

In [18]:
import pyodbc

In [19]:
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=SAIBHAVANA\\SQLEXPRESS;'  
    'DATABASE=master;'                
    'Trusted_Connection=yes;'
)

In [20]:
cursor = conn.cursor()

In [21]:
cursor.execute("SELECT name FROM sys.databases")
for row in cursor:
    print(row)

('master',)
('tempdb',)
('model',)
('msdb',)
('MovieBookingSystem',)
('CarConnectDB',)
('EcommerceDB',)
('CareerHub',)

In [22]:
create_table_query = """
IF NOT EXISTS (
    SELECT * FROM INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_NAME = 'Students'
)
BEGIN
    CREATE TABLE Students (
        StudentID INT PRIMARY KEY,
        Name VARCHAR(100),
        Age INT,
        Department VARCHAR(50)
    )
END
"""

cursor.execute(create_table_query)
conn.commit()
print("‚úÖ Students table created successfully (if it didn't already exist).")

‚úÖ Students table created successfully (if it didn't already exist).

In [23]:
cursor.execute("SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'")
for table in cursor:
    print(table)

('spt_fallback_db',)
('spt_fallback_dev',)
('spt_fallback_usg',)
('Employeesdetails',)
('Orders',)
('Products',)
('OrderDetails',)
('CustomerOrders',)
('Admin',)
('Customer',)
('Vehicle',)
('Feedback',)
('Students',)
('spt_monitor',)
('MSreplication_options',)

In [24]:
cursor.execute("SELECT name FROM sys.databases")
for row in cursor:
    print(row)

('master',)
('tempdb',)
('model',)
('msdb',)
('MovieBookingSystem',)
('CarConnectDB',)
('EcommerceDB',)
('CareerHub',)

In [25]:
cursor.execute("SELECT name FROM sys.tables")

for table in cursor:
    print(table[0])

spt_fallback_db
spt_fallback_dev
spt_fallback_usg
Employeesdetails
Orders
Products
OrderDetails
CustomerOrders
Admin
Customer
Vehicle
Feedback
Students
spt_monitor
MSreplication_options

In [ ]:
cursor.execute("CREATE DATABASE hexwaredb")
conn.commit()

In [ ]:
cursor.execute("""
CREATE TABLE profisionalworkers (
    WorkerID INT PRIMARY KEY,
    Name VARCHAR(100),
    Skill VARCHAR(100),
    Experience INT
)
""")
conn.commit()
print("‚úÖ Table 'profisionalworkers' created successfully in 'hexwaredb'.")

In [29]:
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=SAIBHAVANA\\SQLEXPRESS;'
    'DATABASE=hexwaredb;'
    'Trusted_Connection=yes;'
)

In [30]:
cursor = conn.cursor()

In [33]:
cursor.execute("""
CREATE TABLE profisionalworkers (
    WorkerID INT PRIMARY KEY,
    Name VARCHAR(100),
    Skill VARCHAR(100),
    Experience INT
)
""")
conn.commit()
print("Table 'profisionalworkers' created successfully in 'hexwaredb'.")

Table 'profisionalworkers' created successfully in 'hexwaredb'.

In [35]:
cursor.execute("INSERT INTO profisionalworkers (WorkerID, Name, Skill, Experience) VALUES (1, 'John Doe', 'Python Developer', 5)")
cursor.execute("INSERT INTO profisionalworkers (WorkerID, Name, Skill, Experience) VALUES (2, 'Priya Singh', 'Data Analyst', 3)")
cursor.execute("INSERT INTO profisionalworkers (WorkerID, Name, Skill, Experience) VALUES (3, 'Ahmed Khan', 'Cloud Engineer', 4)")
conn.commit()

print("‚úÖ Sample records inserted into 'profisionalworkers'.")

‚úÖ Sample records inserted into 'profisionalworkers'.

In [38]:
cursor.execute("SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'")
tables = cursor.fetchall()

if tables:
    print("üìã Tables in 'hexwaredb':")
    for row in tables:
        print(" -", row[0])
else:
    print("‚ùå No tables found in 'hexwaredb'.")

üìã Tables in 'hexwaredb':
 - spt_fallback_db
 - spt_fallback_dev
 - spt_fallback_usg
 - Employeesdetails
 - Orders
 - Products
 - OrderDetails
 - CustomerOrders
 - Admin
 - Customer
 - Vehicle
 - Feedback
 - Students
 - profisionalworkers
 - spt_monitor
 - MSreplication_options

In [37]:
cursor.execute("SELECT DB_NAME() AS CurrentDatabase")
for row in cursor:
    print("üìå Currently connected to:", row[0])

üìå Currently connected to: master

In [39]:
import pyodbc

# Connect directly to hexwaredb
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=SAIBHAVANA\\SQLEXPRESS;'
    'DATABASE=hexwaredb;'     # ‚úÖ Now you're inside the right DB
    'Trusted_Connection=yes;'
)
cursor = conn.cursor()

# Confirm
cursor.execute("SELECT DB_NAME() AS CurrentDatabase")
for row in cursor:
    print("‚úÖ Now connected to:", row[0])

‚úÖ Now connected to: hexwaredb

In [42]:
cursor.execute("SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE = 'BASE TABLE'")
for row in cursor:
    print("üìÑ", row[0])

In [43]:
cursor.execute("""
IF NOT EXISTS (
    SELECT * FROM INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_NAME = 'hexwarecitizens'
)
BEGIN
    CREATE TABLE hexwarecitizens (
        WorkerID INT PRIMARY KEY,
        Name VARCHAR(100),
        Skill VARCHAR(100),
        Experience INT
    )
END
""")
conn.commit()
print("‚úÖ Table 'hexwarecitizens' created in hexwaredb.")

‚úÖ Table 'hexwarecitizens' created in hexwaredb.

In [44]:

cursor.execute("INSERT INTO hexwarecitizens (WorkerID, Name, Skill, Experience) VALUES (1, 'Alice Thomas', 'Data Analyst', 3)")
cursor.execute("INSERT INTO hexwarecitizens (WorkerID, Name, Skill, Experience) VALUES (2, 'Ravi Kumar', 'Backend Developer', 5)")
cursor.execute("INSERT INTO hexwarecitizens (WorkerID, Name, Skill, Experience) VALUES (3, 'Sara Lee', 'UI/UX Designer', 2)")

In [45]:
conn.commit()
print("‚úÖ Sample data inserted into 'hexwarecitizens'.")

‚úÖ Sample data inserted into 'hexwarecitizens'.

In [52]:
cursor.execute("""
IF NOT EXISTS (
    SELECT * FROM INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_NAME = 'citizen_addresses'
)
BEGIN
    CREATE TABLE citizen_addresses (
        AddressID INT PRIMARY KEY,
        WorkerID INT FOREIGN KEY REFERENCES hexwarecitizens(WorkerID),
        Street VARCHAR(100),
        City VARCHAR(50),
        State VARCHAR(50),
        Pincode VARCHAR(10)
    )
END
""")
conn.commit()
print("‚úÖ Table 'citizen_addresses' created.")

‚úÖ Table 'citizen_addresses' created.

In [48]:
cursor.execute("""
IF NOT EXISTS (
    SELECT * FROM INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_NAME = 'citizen_skills'
)
BEGIN
    CREATE TABLE citizen_skills (
        SkillID INT PRIMARY KEY,
        WorkerID INT FOREIGN KEY REFERENCES hexwarecitizens(WorkerID),
        SkillName VARCHAR(100),
        Certification VARCHAR(100)
    )
END
""")
conn.commit()
print("‚úÖ Table 'citizen_skills' created.")

‚úÖ Table 'citizen_skills' created.

In [49]:
cursor.execute("""
IF NOT EXISTS (
    SELECT * FROM INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_NAME = 'citizen_projects'
)
BEGIN
    CREATE TABLE citizen_projects (
        ProjectID INT PRIMARY KEY,
        WorkerID INT FOREIGN KEY REFERENCES hexwarecitizens(WorkerID),
        ProjectName VARCHAR(100),
        Role VARCHAR(100),
        DurationMonths INT
    )
END
""")
conn.commit()
print("‚úÖ Table 'citizen_projects' created.")

‚úÖ Table 'citizen_projects' created.

In [54]:
cursor.execute("INSERT INTO citizen_skills (SkillID, WorkerID, SkillName, Certification) VALUES (1, 1, 'SQL', 'Oracle Certified')")
cursor.execute("INSERT INTO citizen_skills (SkillID, WorkerID, SkillName, Certification) VALUES (2, 2, 'Node.js', 'Udemy Full Stack')")
cursor.execute("INSERT INTO citizen_skills (SkillID, WorkerID, SkillName, Certification) VALUES (3, 3, 'Figma', 'Coursera UI/UX')")
conn.commit()
print("‚úÖ Data inserted into 'citizen_skills'")

‚úÖ Data inserted into 'citizen_skills'

In [55]:
cursor.execute("INSERT INTO citizen_projects (ProjectID, WorkerID, ProjectName, Role, DurationMonths) VALUES (1, 1, 'Retail Dashboard', 'Data Analyst', 6)")
cursor.execute("INSERT INTO citizen_projects (ProjectID, WorkerID, ProjectName, Role, DurationMonths) VALUES (2, 2, 'E-Commerce API', 'Backend Developer', 8)")
cursor.execute("INSERT INTO citizen_projects (ProjectID, WorkerID, ProjectName, Role, DurationMonths) VALUES (3, 3, 'UX Revamp', 'UI Designer', 4)")
conn.commit()
print("‚úÖ Data inserted into 'citizen_projects'")

‚úÖ Data inserted into 'citizen_projects'

In [57]:
cursor.execute("INSERT INTO citizen_addresses (AddressID, WorkerID, Street, City, State, Pincode) VALUES (4, 1, 'New MG Road', 'Bangalore', 'Karnataka', '560002')")
conn.commit()

IntegrityError: ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__citizen___091C2A1B091782C3'. Cannot insert duplicate key in object 'dbo.citizen_addresses'. The duplicate key value is (4). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")

In [58]:
cursor.execute("SELECT AddressID FROM citizen_addresses")
for row in cursor:
    print("AddressID in use:", row[0])

AddressID in use: 1
AddressID in use: 2
AddressID in use: 3
AddressID in use: 4

In [ ]:
cursor.execute("""
INSERT INTO citizen_addresses 
(AddressID, WorkerID, Street, City, State, Pincode) 
VALUES (5, 1, 'MG Layout', 'Bangalore', 'Karnataka', '560003')
""")
conn.commit()
print(" Inserted AddressID 5 successfully.")

In [60]:
cursor.execute("SELECT * FROM hexwarecitizens")
print("üìã Data from hexwarecitizens:")
for row in cursor:
    print(row)

üìã Data from hexwarecitizens:
(1, 'Alice Thomas', 'Data Analyst', 3)
(2, 'Ravi Kumar', 'Backend Developer', 5)
(3, 'Sara Lee', 'UI/UX Designer', 2)

In [61]:
cursor.execute("SELECT * FROM citizen_addresses")
print("\nüìã Data from citizen_addresses:")
for row in cursor:
    print(row)

üìã Data from citizen_addresses:
(1, 1, '123 MG Road', 'Bangalore', 'Karnataka', '560001')
(2, 2, '45 Anna Salai', 'Chennai', 'Tamil Nadu', '600002')
(3, 3, '7 Park Street', 'Kolkata', 'West Bengal', '700016')
(4, 1, 'New MG Road', 'Bangalore', 'Karnataka', '560002')
(5, 1, 'MG Layout', 'Bangalore', 'Karnataka', '560003')

In [62]:
cursor.execute("SELECT * FROM citizen_skills")
print("\nüìã Data from citizen_skills:")
for row in cursor:
    print(row)

üìã Data from citizen_skills:
(1, 1, 'SQL', 'Oracle Certified')
(2, 2, 'Node.js', 'Udemy Full Stack')
(3, 3, 'Figma', 'Coursera UI/UX')

In [63]:
cursor.execute("SELECT * FROM citizen_projects")
print("\nüìã Data from citizen_projects:")
for row in cursor:
    print(row)

üìã Data from citizen_projects:
(1, 1, 'Retail Dashboard', 'Data Analyst', 6)
(2, 2, 'E-Commerce API', 'Backend Developer', 8)
(3, 3, 'UX Revamp', 'UI Designer', 4)

#  read data

In [64]:
cursor.execute("SELECT * FROM hexwarecitizens")
for row in cursor:
    print(row)

(1, 'Alice Thomas', 'Data Analyst', 3)
(2, 'Ravi Kumar', 'Backend Developer', 5)
(3, 'Sara Lee', 'UI/UX Designer', 2)

# update

In [67]:
cursor.execute("""
UPDATE hexwarecitizens
SET Experience = 6
WHERE WorkerID = 1
""")
conn.commit()
print(" Updated experience for WorkerID 1.")

 Updated experience for WorkerID 1.

In [66]:
cursor.execute("SELECT * FROM hexwarecitizens WHERE WorkerID = 1")
for row in cursor:
    print(row)

(1, 'Alice Thomas', 'Data Analyst', 6)

# delete

In [14]:
cursor.execute("""
IF NOT EXISTS (
    SELECT * FROM INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_NAME = 'visitors_log'
)
BEGIN
    CREATE TABLE visitors_log (
        VisitorID INT PRIMARY KEY,
        FullName VARCHAR(100),
        VisitPurpose VARCHAR(100),
        VisitDate DATE,
        EntryTime TIME,
        ExitTime TIME
    )
END
""")
conn.commit()
print(" Table 'visitors_log' created.")

 Table 'visitors_log' created.

In [71]:
cursor.execute("""
INSERT INTO visitors_log (VisitorID, FullName, VisitPurpose, VisitDate, EntryTime, ExitTime)
VALUES (1, 'Meera Joseph', 'Project Demo', '2025-06-24', '10:30:00', '11:45:00')
""")

cursor.execute("""
INSERT INTO visitors_log (VisitorID, FullName, VisitPurpose, VisitDate, EntryTime, ExitTime)
VALUES (2, 'Rajeev Nair', 'Client Meeting', '2025-06-24', '09:00:00', '10:00:00')
""")

cursor.execute("""
INSERT INTO visitors_log (VisitorID, FullName, VisitPurpose, VisitDate, EntryTime, ExitTime)
VALUES (3, 'Alok Sharma', 'Job Interview', '2025-06-24', '14:00:00', '14:45:00')
""")

conn.commit()
print("‚úÖ Sample data inserted into 'visitors_log'.")

‚úÖ Sample data inserted into 'visitors_log'.

In [72]:
cursor.execute("DELETE FROM visitors_log WHERE VisitorID = 2")
conn.commit()
print("‚úÖ Visitor with ID 2 deleted.")

‚úÖ Visitor with ID 2 deleted.

In [73]:
cursor.execute("DELETE FROM visitors_log")
conn.commit()
print("‚úÖ All records deleted from 'visitors_log'.")

‚úÖ All records deleted from 'visitors_log'.

In [74]:
cursor.execute("SELECT * FROM visitors_log")
rows = cursor.fetchall()
if not rows:
    print("üì≠ 'visitors_log' is empty.")
else:
    for row in rows:
        print(row)

üì≠ 'visitors_log' is empty.

# alter table

In [7]:
import pyodbc

# Connect to your database
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=SAIBHAVANA\\SQLEXPRESS;'
    'DATABASE=hexwaredb;'
    'Trusted_Connection=yes;'
)

cursor = conn.cursor()
print("‚úÖ Connected to hexwaredb")

‚úÖ Connected to hexwaredb

In [3]:
cursor.execute("ALTER TABLE visitors_log ADD ContactNumber VARCHAR(15)")
conn.commit()
print("‚úÖ Column 'ContactNumber' added to 'visitors_log'.")

‚úÖ Column 'ContactNumber' added to 'visitors_log'.

# queries

In [11]:
cursor.execute("""
SELECT 
    c.WorkerID,
    c.Name,
    c.Skill,
    a.City,
    a.State
FROM hexwarecitizens c
JOIN citizen_addresses a ON c.WorkerID = a.WorkerID
""")

print(" Citizens with their City and State:")
for row in cursor:
    print(row)

 Citizens with their City and State:
(1, 'Alice Thomas', 'Data Analyst', 'Bangalore', 'Karnataka')
(2, 'Ravi Kumar', 'Backend Developer', 'Chennai', 'Tamil Nadu')
(3, 'Sara Lee', 'UI/UX Designer', 'Kolkata', 'West Bengal')
(1, 'Alice Thomas', 'Data Analyst', 'Bangalore', 'Karnataka')
(1, 'Alice Thomas', 'Data Analyst', 'Bangalore', 'Karnataka')

In [9]:
cursor.execute("""
SELECT * 
FROM hexwarecitizens
WHERE Experience > 3
""")

print(" Citizens with >3 years experience:")
for row in cursor:
    print(row)

 Citizens with >3 years experience:
(1, 'Alice Thomas', 'Data Analyst', 6)
(2, 'Ravi Kumar', 'Backend Developer', 5)

In [12]:
cursor.execute("""
SELECT VisitPurpose, COUNT(*) AS TotalVisitors
FROM visitors_log
GROUP BY VisitPurpose
""")

print(" Visitor counts per purpose:")
for row in cursor:
    print(f"{row.VisitPurpose}: {row.TotalVisitors}")

 Visitor counts per purpose:

In [13]:
cursor.execute("SELECT * FROM hexwarecitizens")
print("üìã All citizens:")
for row in cursor:
    print(row)

üìã All citizens:
(1, 'Alice Thomas', 'Data Analyst', 6)
(2, 'Ravi Kumar', 'Backend Developer', 5)
(3, 'Sara Lee', 'UI/UX Designer', 2)